@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
     font-size: 62.5%;
}

body {
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}